.ui-page,ui-content{background:#737373 !important;}
#main{
	width:100%;
	height:auto;
	
}
#logo{
	display:block;
	margin:auto;
	width:80px;
}

#listvideos li{
	cursor:pointer;
	background-color: #737373;

}

#listvideos img{
	margin:8px;
	padding:3px;
	border:1px solid #ccc;
}

#listvideos h3{
	margin-left: 10px;
	font-family: Verdana;
	color: white;
}

#showvideos{
	width: 100%;
	margin: 15px 0 15px 0;
}

